DATABASE_URL=mysql://HohCSKBRNJQXmGg.root:M7PmB4pJOxIFLKgC@gateway01.us-east-1.prod.aws.tidbcloud.com:4000/blackgym?ssl={"rejectUnauthorized":true}
APP_ID=blackgym-app
APP_SECRET=un_secreto_largo_para_jwt_123456789

# Firebase Backend Admin Configuration
FIREBASE_API_KEY=xxx
FIREBASE_AUTH_DOMAIN=xxx
FIREBASE_PROJECT_ID=xxx
FIREBASE_STORAGE_BUCKET=xxx
FIREBASE_MESSAGING_SENDER_ID=xxx
FIREBASE_APP_ID=xxx
FIREBASE_ADMIN_PRIVATE_KEY=xxx
FIREBASE_ADMIN_CLIENT_EMAIL=xxx

# DeepSeek AI API Key Configuration
DEEPSEEK_API_KEY=sk-xxx

# Firebase Frontend Configuration (Vite)
VITE_FIREBASE_API_KEY=xxx
VITE_FIREBASE_AUTH_DOMAIN=xxx
VITE_FIREBASE_PROJECT_ID=xxx
